.nav-item{
    margin-right: 10px;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
   
}
header.sticky{
 padding: 5px 100px;
 background-color: #fff;
}


  .collapse navbar-collapse{
    background-color: #fff;
  }

 
 .navbar-light .navbar-brand {
   color: #fff;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
   margin-left: -100px;

   
 }


header.sticky .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
   color: #fff;
 }
  
 .navbar-light .navbar-nav .nav-link {
   color: #fff;
 }
 
 .navbar-toggler {
   background: #fff;
 }
 
 .navbar-nav {
   text-align: center;
 }
 
 .nav-link {
   padding: .2rem 1rem;
   margin-left: 10px;
   font-size: 20px;
 }
 
 .nav-link.active,.nav-link:focus{
   color: #fff;
 }
 
 .navbar-toggler {
   padding: 1px 5px;
   font-size: 18px;
   line-height: 0.3;
 }
 
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   color: #fff;
 }